<footer class="footer">
  <button class="arrow">
    <a href="./index.html">
      <img src="./assets/images/ico-arrow.svg" alt="arrowUp"
    /></a>
  </button>
  <menu class="articles">
    <ul class="articles-list">
      <li><a href="https://adalab.es/">Articles</a></li>
      <li><a href="https://adalab.es/">Books</a></li>
      <li><a href="https://adalab.es/">Events</a></li>
      <li><a href="https://adalab.es/">Reasons</a></li>
      <li><a href="https://adalab.es/">Tips</a></li>
    </ul>
  </menu>
  <menu class="social_Media">
    <ul class="twitter">
      <li><a href="https://adalab.es/">Twitter</a></li>
      <li><a href="https://adalab.es/">Instagram</a></li>
      <li><a href="https://adalab.es/">Mastodon.Social</a></li>
    </ul>
  </menu>

  <small class="small_Footer">
    &copy;2021
    <p>we <i class="fas fa-heart"></i> components</p></small
  >
</footer>
