<footer class="footer">
  <button class="arrow">
    <a href="./index.html">
      <img
        class="arrow-animation"
        src="./assets/images/ico-arrow.svg"
        alt="arrowUp"
    /></a>
  </button>
  <div class="footer-wrapper">
    <menu class="footer-articles">
      <ul class="articles-list">
        <li><a href="https://adalab.es/">Articles</a></li>
        <li><a href="https://adalab.es/">Books</a></li>
        <li><a href="https://adalab.es/">Events</a></li>
        <li><a href="https://adalab.es/">Reasons</a></li>
        <li><a href="https://adalab.es/">Tips</a></li>
      </ul>
    </menu>
    <menu class="footer-media">
      <ul class="twitter">
        <li><a href="https://adalab.es/">Twitter</a></li>
        <li><a href="https://adalab.es/">Instagram</a></li>
        <li><a href="https://adalab.es/">Mastodon.Social</a></li>
      </ul>
    </menu>

    <small class="footer-copy">
      &copy;2021
      <p>we <i class="fas fa-heart"></i> components</p></small
    >
  </div>
</footer>
