<footer class="footer">
  <button class="arrow">
    <img src="./assets/images/ico-arrow.svg" alt="arrowUp" />
  </button>
  <menu class="articles">
    <ul class="articles-list">
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
  </menu>
  <menu class="social_Media">
    <ul class="twitter">
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Mastodon.Social</li>
    </ul>
  </menu>

  <small class="small_Footer">
    &copy;2021
    <p>we <i class="fas fa-heart"></i> components</p></small
  >
</footer>
