<main class="main">
  <section class="Hero">
    <h1 class="hero_title">Anonymous proxy</h1>
    <p class="hero_subtitle">In hac habitasse platea dictumst</p>
    <button class="scroll-button">
      <img src="./assets/images/ico-scroll-down.svg" alt="scroll-button" />
    </button>
  </section>
  <section class="section_One">
    <small class="imsomnia">Imsomnia tips</small>
    <h2>looking through a window</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit commodi
      corrupti adipisci alias debitis dignissimos, tenetur temporibus odio odit
      velit quo animi exercitationem earum eveniet dicta quis nemo minima
      aperiam.
    </p>
    <button class="button_Go">Go</button>
  </section>
  <section class="reasons">
    <h2 class="section-title">3 Reasons to purchase</h2>
    <div class="wrapper">
      <article class="reasons-article1">
        <h3 class="purchase-titles">Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </article>
      <article class="reasons-article2">
        <h3 class="purchase-titles">Curabitur ac erat</h3>
        <p>Ullam quasi provident alias rem vero.</p>
      </article>
      <article class="reasons-article3">
        <h3 class="purchase-titles">Morbi dictum</h3>
        <p>Nemo doloremque inventore numquam similique.</p>
      </article>
    </div>

    <button class="more_Reasons">More reasons</button>
  </section>
</main>
