<main>
  <section class="Hero">
    <h1 class="hero_title">Anonymous proxy</h1>
    <p class="hero_subtitle">In hac habitasse platea dictumst</p>
    <button class="scroll-button">
      <img src="./assets/images/ico-scroll-down.svg" alt="scroll-button" />
    </button>
  </section>
  <section class="section_One">
    <small>Imsomnia tips</small>
    <h2>looking through a window</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit commodi
      corrupti adipisci alias debitis dignissimos, tenetur temporibus odio odit
      velit quo animi exercitationem earum eveniet dicta quis nemo minima
      aperiam.
    </p>
    <button class="button_Go">Go</button>
  </section>
  <section class="reasons">
    <h2>3 Reasons to purchase</h2>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
    <article>
      Enim aspernatur eius corporis? Dolor, consequuntur facere impedit aut
      sequi optio aspernatur esse saepe.
    </article>
    <article>
      Nemo doloremque inventore numquam similique reprehenderit quaerat maxime.
    </article>
    <button class="more_Reasons">More reasons</button>
  </section>
  <button class="arrow">
    <img src="./assets/images/ico-arrow.svg" alt="arrowUp" />
  </button>
</main>
